@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.dropDown {
  @include flexbox.flexbox(around, end);
  width: 200px;
  flex-direction: column;
  background-color: transparent;
  ::-webkit-scrollbar {
    display: none;
  }
}
.dropDownBtn {
  @include flexbox.flexbox(around, center);
  width: 200px;
  height: 45px;
  box-sizing: border-box;
  background: colors.$WHITE;
  border: 1px solid colors.$GRAY6;
  border-radius: 10px;
}
.selected {
  width: 200px;
  height: 80px;
  overflow: scroll;
  color: colors.$BLACK;
  border: none;
  background-color: transparent;

  .dropBtn {
    width: 200px;
    height: 35px;
    margin-bottom: 2px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  .dropBtn:hover {
    background-color: colors.$GRAYA;
  }
}
.hidden {
  display: none;
}
