@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.header {
  @include flexbox.flexbox(around, center);
  width: 100%;
  flex-direction: column;
  padding-bottom: 50px;
  .title {
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    color: colors.$GRAY2;
  }
}
