@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.bg {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}
.modalActive {
  @include flexbox.flexbox(center, center);
  background-color: colors.$GRAYD;
  color: colors.$BACKGROUND_COLOR;
  border-radius: 8px;
  width: 300px;
  height: 200px;
  padding: 10px;
  .area {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    .info {
      text-align: center;
      height: 50px;
      overflow: auto;
    }
    .btn {
      border: 2px solid colors.$SEARCH_BAR;
      width: 80%;
      height: 30px;
      margin-top: 5px;
    }
  }
}
